fastapi
uvicorn[standard] 
python-multipart 
langchain 
langchain_community
unstructured[all-docs] 
sentence-transformers 
llama-index-core 
llama-index-readers-file 
llama-index-llms-langchain 
llama-index-embeddings-langchain 
llama-index-vector-stores-milvus 
llama-index-vector-stores-postgres 
pymilvus 
dataclass-wizard 
minio 
asyncpg 
psycopg2-binary 
pgvector 
langchain-core 
langchain-nvidia-ai-endpoints 
langchain_huggingface
langchain_ollama
opentelemetry-sdk 
opentelemetry-api 
opentelemetry-exporter-otlp-proto-grpc 
faiss-cpu 
httpcore 
httpx 
bleach 
flatdict 
chardet 
nltk 
pdfplumber 
gspread 
pandas 
Pillow 
pydantic 
python-pptx 
Requests 
opencv-python 
pytesseract 
psutil